[submodule "ext/eigen"]
	path = ext/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "ext/libsndfile"]
	path = ext/libsndfile
	url = https://github.com/libsndfile/libsndfile.git
[submodule "ext/fftscarf"]
	path = ext/fftscarf
	url = https://gitlab.com/gillesdegottex/fftscarf.git
[submodule "ext/cpptopdb"]
	path = ext/cpptopdb
	url = https://github.com/gillesdegottex/cpptopdb.git
[submodule "ext/tinywav"]
	path = ext/tinywav
	url = https://github.com/mhroth/tinywav
[submodule "ext/snitch"]
	path = ext/snitch
	url = https://github.com/snitch-org/snitch.git
[submodule "ext/acbench"]
	path = ext/acbench
	url = https://github.com/phoneshift/acbench.git
